---
// src/components/Footer.astro
---

<footer class="font-bold text-lg text-gray-300 leading-relaxed flex justify-center flex flex-col items-center">
   <div>
    <div class="font-bold text-lg text-gray 300 leading-relaxed flex justify-center space-x-6 mb-4">
        <div>
          <a href="https://www.linkedin.com/in/stanley-eng-ab179a296/" target="_blank" rel="noopener noreferrer" class="text-gray-300 hover:text-blue-600 transition-colors mr-2" aria-label="LinkedIn">LinkedIn</a>
          <a href="https://github.com/StanLeeEng" target="_blank" rel="noopener noreferrer" class="text-gray-300 hover:text-blue-600 transition-colors ml-2" aria-label="GitHub">GitHub</a>
        </div>
    </div>
   </div>

   <div class="footer-bottom">
    <p>© 2025 Stanley Eng. All rights reserved.</p>
   </div>
</footer>